<a href="https://colab.research.google.com/github/touchvarit/Python-500-Problems-by-Tautology/blob/main/Data_Structure_1st_Attempt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numeric

In [ ]:
numeric1 = 5
print(type(numeric1))
print(numeric1)

<class 'int'>
5

In [ ]:
numeric2 = -3
print(type(numeric2))
print(numeric2)

<class 'int'>
-3

In [ ]:
numeric3 = 0
print(type(numeric3))
print(numeric3)

<class 'int'>
0

In [ ]:
x = int(input('please input integer'))
print(x)
print(type(x))

please input integer2
2
<class 'int'>

In [ ]:
numeric1 = 5.0
print(numeric1)
print(type(numeric1))

5.0
<class 'float'>

In [ ]:
numeric2 = -3.1
print(numeric2)
print(type(numeric2))

-3.1
<class 'float'>

In [ ]:
numeric3 = 0.0
print(numeric3)
print(type(numeric3))

0.0
<class 'float'>

In [ ]:
x = float(input('please input real number'))
print(x)
print(type(x))

please input real number5.3
5.3
<class 'float'>

In [ ]:
x = int(input('please input the first number (x) for the operation'))
y = int(input('please input the second number (y) for the operation'))
print('x + y =', x+y, 'the data type is', type(x+y))
print('x - y =', x-y, 'the data type is', type(x-y))
print('x * y =', x*y, 'the data type is', type(x*y))
print('x / y =', x/y, 'the data type is', type(x/y))

please input the first number (x) for the operation123
please input the second number (y) for the operation123
x + y = 246 the data type is <class 'int'>
x - y = 0 the data type is <class 'int'>
x * y = 15129 the data type is <class 'int'>
x / y = 1.0 the data type is <class 'float'>

In [ ]:
x = float(input('please input the first number (x) for the operation'))
y = float(input('please input the second number (y) for the operation'))
print('x + y =', x+y, 'the data type is', type(x+y))
print('x - y =', x-y, 'the data type is', type(x-y))
print('x * y =', x*y, 'the data type is', type(x*y))
print('x / y =', x/y, 'the data type is', type(x/y))

In [ ]:
x = int(input('please input the first number (x) for the operation'))
y = float(input('please input the second number (y) for the operation'))
print('x + y =', x+y, 'the data type is', type(x+y))
print('x - y =', x-y, 'the data type is', type(x-y))
print('x * y =', x*y, 'the data type is', type(x*y))
print('x / y =', x/y, 'the data type is', type(x/y))

please input the first number (x) for the operation23
please input the second number (y) for the operation15
x + y = 38.0 the data type is <class 'float'>
x - y = 8.0 the data type is <class 'float'>
x * y = 345.0 the data type is <class 'float'>
x / y = 1.5333333333333334 the data type is <class 'float'>

In [ ]:
logic1 = True
print(logic1)

True

In [ ]:
logic2 = False
print(logic2)

False

In [ ]:
logic1 = True
logic2 = False
print(logic1 and logic2)

False

In [ ]:
logic1 = True
logic2 = False
print(logic1 or logic2)

True

In [ ]:
complex1 = 1+2j
print(complex1, 'the data type is', type(complex1))

(1+2j) the data type is <class 'complex'>

In [ ]:
complex1 = 1+2j
print('the value of the real part is equal to', complex1.real)

the value of the real part is equal to 1.0

In [ ]:
complex = 1+2j
print('the value of the imaginary part is equal to', complex1.imag)

the value of the imaginary part is equal to 2.0

# String

In [ ]:
string1 = 'Python'
print('the value of string1 is', string1, 'and the data type of string1 is', type(string1))

the value of string1 is Python and the data type of string1 is <class 'str'>

In [ ]:
string1 = 'Python'
print(string1[0])

P

In [ ]:
string1 = 'Python'
print(string1[1])

y

In [ ]:
string1 = 'Python'
print(string1[-1])

n

In [ ]:
string1 = 'Python'
print(string1[-2])

o

In [ ]:
string1 = 'Python'
print(string1[2])

t

In [ ]:
string1 = 'Python'
print(string1[3])

h

In [ ]:
string1 = 'Python'
print(string1[1:4])

yth

In [ ]:
string1 = 'Python'
print(string1[2:-1])

tho

In [ ]:
# 2 ถึง -1 นี่มัน print ยังไงนะ
string1 = 'Python'
print(string1[2:0])

In [ ]:
string1 = 'Python'
print(string1[-4:5])

tho

In [ ]:
string1 = 'Python'
print(string1[-6:5])

Pytho

In [ ]:
string1 = 'Python'
print(string1[-4:-1])

tho

In [ ]:
string = input('please input the string to count the length')
print('The string length is equal to ', len(string))

please input the string to count the lengthหก
The string length is equal to  2

In [ ]:
# ตรวจสอบว่ามี ก อยู้ใน string หรือไม่ ทำไงวะ
string1 = input('please insert string1: ')
print('ก' in string1)

please insert string1: 123ก
True

In [ ]:
string1 = input('please insert string1 value')
string2 = input('please insert string2 value')
print(string2 in string1)

please insert string1 valuedv456
please insert string2 valuev45
True

In [ ]:
string1 = 'abc'
string2 = string1.replace('a','A')
print(string2)

Abc

In [ ]:
string1 = 'We love Python'
string2 = string1.split(' ')
print(string2)

['We', 'love', 'Python']

In [ ]:
sentence = input('insert value for sentence: ')
c = input('insert value for c')
print(sentence.split(c))

insert value for sentence: Py-thon
insert value for c-
['Py', 'thon']

In [ ]:
str1 = input('insert value for str1: ')
str2 = input('insert value for str2: ')
print(str1+str2)

insert value for str1: ac
insert value for str2: day
acday

# List

In [ ]:
x = [0,1,2,'a','b','c']
print(x, type(x))

[0, 1, 2, 'a', 'b', 'c'] <class 'list'>

In [ ]:
x = [0,1,2,'a','b','c']
print(x[2])

2

In [ ]:
x = [0,1,2,'a','b','c']
print(x[-3])

a

In [ ]:
x = [0,1,2,'a','b','c']
print(x[0])

0

In [ ]:
x = [0,1,2,'a','b','c']
print(x[4])

b

In [ ]:
x = [0,1,2,'a','b','c']
print(x[2:4])

[2, 'a']

In [ ]:
x = [0,1,2,'a','b','c']
print(x[1:-1])

[1, 2, 'a', 'b']

In [ ]:
x = [0,1,2,'a','b','c']
print(x[1:-1])

[1, 2, 'a', 'b']

In [ ]:
x = [0,1,2,'a','b','c']
print(x[3:6])

['a', 'b', 'c']

In [ ]:
x = [0,1,2,'a','b','c']
print(x[0:3])

[0, 1, 2]

In [ ]:
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2[3] = 'duck'
print(list2)

['ant', 'bird', 'cat', 'duck', 'eagle']

In [ ]:
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2[0] = 'ape'
print(list2)

['ape', 'bird', 'cat', 'dog', 'eagle']

In [ ]:
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2.append('fish')
print(list2)

['ant', 'bird', 'cat', 'dog', 'eagle', 'fish']

In [ ]:
empty_list = []
str1 = input('insert value for str1')
str2 = input('insert value for str2')
str3 = input('insert value for str3')
empty_list.append(str1)
empty_list.append(str2)
empty_list.append(str3)
print(empty_list)

insert value for str11
insert value for str22
insert value for str33
['1', '2', '3']

In [ ]:
list3 = ['apple', 'cherry', 'eggfruit']
list3[1] = 'banana'
print(list3)

['apple', 'banana', 'eggfruit']

In [ ]:
list3 = ['apple', 'banana', 'cherry', 'eggfruit']
list3[-2] = 'kiwi'
print(list3)

['apple', 'banana', 'kiwi', 'eggfruit']

In [ ]:
list4 = [0, 4, 2, 3, 1]
list4.sort()
print(list4)

[0, 1, 2, 3, 4]

In [ ]:
list4 = [0, 4, 2, 3, 1]
list4.sort(reverse=True)
print(list4)

[4, 3, 2, 1, 0]

In [ ]:
list4 = [0, 4, 2, 3, 1]
sorted_list = sorted(list4)
print(sorted_list)

[0, 1, 2, 3, 4]

In [ ]:
# เปรียบเทียบความต่างระหว่างการแก้ใน list เดิม กับการสร้างใน list ใหม่ขึ้นมา
list4 = [0, 4, 2, 3, 1]
sorted_list = list4.sort()
print(list4)
print(sorted_list)

[0, 1, 2, 3, 4]
None

In [ ]:
list5 = ['d', 'a', 'c', 'b', 'e']
list5.sort()
print(list5)

['a', 'b', 'c', 'd', 'e']

In [ ]:
list5 = ['d', 'a', 'c', 'b', 'e']
sorted_list = sorted(list5, reverse=True)
print(sorted_list)

['e', 'd', 'c', 'b', 'a']

In [ ]:
# extend กับ append ไม่เหมือนกัน
list1 = ['a', 'b', 'c']
list2 = [0, 1, 2]
list1.append(list2)
print(list1)
list1 = ['a', 'b', 'c']
list1.extend(list2)
print(list1)
print(list2)

['a', 'b', 'c', [0, 1, 2]]
['a', 'b', 'c', 0, 1, 2]
[0, 1, 2]

In [ ]:
list1 = ['a','b','c']
list2 = [0, 1, 2]
list3 = list1 + list2
print(list1)
print(list2)
print(list3)

['a', 'b', 'c']
[0, 1, 2]
['a', 'b', 'c', 0, 1, 2]

In [ ]:
list1 = [1,2,3,1,2,3]
del list1[1]
print(list1)

[1, 3, 1, 2, 3]

In [ ]:
list1 = [1,2,3,1,2,3]
del list1[2]
del list1[-1]
print(list1)

[1, 2, 1, 2]

In [ ]:
list1 = [1,2,3,1,2,3]
list1.remove(2)
list1.remove(3)
print(list1)

[1, 1, 2, 3]

In [ ]:
list1 = [1,2,3,1,2,3]
list1.clear()
print(list1)

[]

In [ ]:
list1 = [1,2,3,'a','b','c']
print(len(list1))

6

In [ ]:
list1 = [1, 2, 3, 4, 5]
numeric1 = int(input("please insert numeric1 value: "))
print(numeric1 in list1)

please insert numeric1 value: 4
True